<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>

        <h2> <b>{{chat.name}}</b> </h2>
        <ion-badge color="primary">{{chat.updated_at.seconds * 1000| date:'dd/MM/yyyy'}}</ion-badge>
        <br>
        <ion-chip color="success" outline>
          <span class="results">{{chat.last_result.first}}</span>
        </ion-chip>
        <ion-chip color="success" outline>
          <span class="results">{{chat.last_result.second}}</span>
        </ion-chip>
        <ion-chip color="success" outline>
          <span class="results">{{chat.last_result.third}}</span>
        </ion-chip>

      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="onLogOut()">
    Desconectarse
  </ion-button>
</ion-content>